
.top
  = image_tag 'pier66.jpg'
  %ul.nav
    %li#couple_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          The Couple
    %li#proposal_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Proposal
    %li#party_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Wedding Party
    %li#rsvp_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          RSVP
    %li#travel_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Travel Info
    %li#registry_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Registry

.nav
  %h1 Coming Soon...