
.top
  = image_tag 'pier66.jpg'
  .slide
    %ul.nav
      %li#couple_nav.nav_button{"data-target" => "#couple"}
        %span.underline
          %a{:href => "#"}
            The Couple
    %ul.nav
      %li#proposal_nav.nav_button{"data-target" => "#couple"}
        %span.underline
          %a{:href => "#"}
            Proposal
    %ul.nav
      %li#party_nav.nav_button{"data-target" => "#couple"}
        %span.underline
          %a{:href => "#"}
            Wedding Party
    %ul.nav
      %li#rsvp_nav.nav_button{"data-target" => "#couple"}
        %span.underline
          %a{:href => "#"}
            RSVP
    %ul.nav
      %li#travel_nav.nav_button{"data-target" => "#couple"}
        %span.underline
          %a{:href => "#"}
            Travel Info
    %ul.nav
      %li#registry_nav.nav_button{"data-target" => "#couple"}
        %span.underline
          %a{:href => "#"}
            Registry

%h1 Coming Soon...