
.top
  = image_tag 'pier66.jpg'
  %ul.nav
    %li#couple_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          The Couple
    %li#proposal_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Proposal
    %li#party_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Wedding Party
    %li#rsvp_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          RSVP
    %li#travel_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Travel Info
    %li#registry_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Registry

.section.intro
  .row
    .col-md-4.col-md-offset-3.welcome-box
      Hello!  Welcome to our wedding website. We can’t wait to celebrate our wedding on January 17, 2015 with everyone. Until then, take some time to explore our site and plan your travels.
      %span
        Don’t forget to RSVP!
      — M & B

    .col-md-2
      .yellow-box
        %p.ceremony-start-text
          The ceremony begins in:


.section.about
  .row
    .profile.col-md-4.col-md-offset-2.col-xs-12
      .profile_label
        Michelle
      = image_tag "michelle.jpg"

    .profile.col-md-4.col-xs-12
      .profile_label
        Blake
    = image_tag "blake.jpg"

.section.proposal
  .section_title
    Proposal
  .proposal_text
    %h1 How it all happened
    %p
      In August 2013, we were selling all our belongings, packing up, and getting ready to leave NYC. During this time, Michelle was taking a design class every Wednesday night. One evening, as the class was ending, Michelle called Blake and asked if she should pick up sandwiches for dinner. Blake told her that he would order some Indian food, and that she should just come straight home.
      %br
        %br
          Thirty minutes later, Michelle came home and smelled something amazing cooking as she walked down the hallway. When she opened the door, she was surprised to see rose petals lining the table, candles, wine, and a bouquet of beautiful roses. Moreover, Blake had prepared a gourmet meal of steak, potatoes and asparagus with some help from a kind employee at Whole Foods. Blake immediately got down on one knee and proposed. Michelle cried of course, and said yes!


