development: &development
  adapter: postgresql
  host: localhost
  database: myapp_dev
  encoding: unicode
  
test: &test
  adapter: postgresql
  host: localhost
  database: myapp_test
  encoding: unicode