$gold: #ffd62c;

.top {
  img {
    min-height: 80%;
    // min-width: 1024px;
    max-height: 90%;
    z-index: 0;
    width: 100%;
    height: 80%;
  }
}

.slide
{
  margin: 0 auto;
  width: 100%;
}

.nav {
  margin-top: 20px;
  text-align: center;
  // min-width: 1024px;
  a {
    color: #000000;
    text-decoration: none;
  }
  li {
    display: inline;
    font-family: Vinyl;
    font-size: 26px;
    color: #000000;
    text-decoration: none;
    margin: -43px auto 0 auto;
    text-align: center;
    width: 635px;
    height: auto;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: -.07em;
    padding: 19px 39px 19px 0px;

  }
}

.underline {
  &:hover {
    border-bottom: 5px solid $gold;
  }
}

.section {
  width: 100%;
  margin-top: 20px;

  .title
  {
    color:black;
    font-family: Pacifico;
    font-size: 50px;
    text-align: center;
    background-color: #ffd62c;
    padding: 5px 0px 5px 0px;
    line-height: 60px;
  }

  .welcome-box {
    border: 5px dotted black;
    color: black;
    font-size: 22px;
    font-family: HelveticaNeue;
    padding: 5px 13px;
    width: 562px;
    font-style:italic;
    line-height: 26px;
    span {
      color: $gold;
      font-style:italic;
    }
  }

  .yellow-box {
    width: 220px;
    height: auto;
    background-color: $gold;
    display: inline-block;
    padding: 5px 13px;
    @media only screen and (max-width: 802px) {
      display: none;
    }
  }

  .profile_label
  {
    margin: 15px auto;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: -.07em;
    font-weight: 400;
    font-family: Vinyl;
    font-size: 26px;
    color: #000000;
  }
  .text {
    p {
      font-size: 16px;
      font-family: HelveticaNeue;
      color: #000;
      line-height: 1.5;
    }
  }
}

.attendants {
  .portraits {
    margin-top: 20px;
    text-align: center;
    h1 {
      font-size: 28px;
      text-transform: uppercase;
      letter-spacing: -.07em;
      font-weight: 400;
      font-family: Vinyl;
      font-size: 26px;
      color: #000000;
      margin-top: 50px;
      text-align: center;
      padding-bottom: 20px;
    }
    h2 {
      text-transform: uppercase;
      letter-spacing: -.05em;
      font-weight: 900;
      font-family: Futura;
      font-size: 19px;
      color: #989898;
      text-align: center;
    }
  }
}


body {
  overflow-x: hidden;
}
